#facebook_inviter_elem {
    position: fixed;
    top: 25%;
    left: 40%;
    background: #fff;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 3px 7px #626262;
    border-radius: 3px;
    z-index: 100000000000000000000000000000000;
    position: fixed;
    box-shadow: none;
    padding: 1rem;  
    width: 16rem;
    text-align: center;
}

#version{
    color: #18458b;
    float: left;
    font-weight: bold;
}

#facebook_inviter_cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000000;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
}

#facebook_inviter_close{
    cursor: pointer;
    margin-bottom: 1rem;
    width: 100%;
    text-align: right;
}

#facebook_inviter_close:hover {
    text-decoration: underline;
}

.facebook-button{
    border: 2px solid #18458b;
    background: #18458b;
    color: #fff;
    font-weight: bold;
    font-size: 10pt;
    cursor: pointer;
    text-align: center;
    width: 80%;
    padding: .5rem 1rem;
}

.facebook-button:hover{
    background: #fff;
    color: #18458b;
}

.facebook-type{
    margin: .2rem .5em;
    width: 3.5em !important;
    border: 2px solid dimgrey;
    padding: .4rem;
    border-radius: 100%;
    cursor: pointer;
}

#facebook_inviter_menu select {
    background: #fff;
    border: 2px solid #18458b;
    padding: .4rem;
    color: #18458b;
    font-weight: bold;
}

.facebook_info {
    background: #ffffff;
    padding: 2rem 1rem 1rem 1rem;
    font-size: 13pt;
    margin: 0 1rem;
    width: 2.5rem;
}

#facebook_loader {
    width: 2rem;
    position: relative;
    top: .7rem;
    left: -.25rem;
}

#facebook_inviter_productKey {
    margin-top: .5rem;
    text-decoration: underline;
    color: #444;
    cursor: pointer;
}

#facebook_inviter_productKey:hover{ text-decoration: none;}