<div id="facebook_inviter_cover"></div>
<div id="facebook_inviter_elem">
    <div id="facebook_inviter_menu">
            <div id="version">Trial Version</div>
            <div id="facebook_inviter_close">Close</div>
                <div style="text-align: center; margin-bottom: 1rem;">
                    From 
                    <select id="fromRange"></select>
                    To 
                    <select id="toRange"></select>
        
                </div>
                <div id="facebook_inviter_reaction" style="text-align: center; margin-bottom: 1rem;"></div>
                <div style="display: none">
                        <div><input type="checkbox" id="fb_like"> Do no invite people who put Like</div>
                        <div><input type="checkbox" id="fb_love"> Do no invite people who put Love</div>
                        <div><input type="checkbox" id="fb_haha"> Do no invite people who put Haha</div>
                        <div><input type="checkbox" id="fb_wow"> Do no invite people who put Wow</div>
                        <div><input type="checkbox" id="fb_sad"> Do no invite people who put Sad</div>
                        <div><input type="checkbox" id="fb_angry"> Do no invite people who put Angry</div>
                </div>
        
                <button id="facebook_inviter_saveButton" class="facebook-button">RUN</button>
                <div id="facebook_inviter_productKey">Add Product License Key</div>
    </div>

    <div id="facebook_inviter_load" style="display: none;">
        <div>
            <div style="display: inline-block"> <div id="facebook_inviter_post" class="facebook_info">0</div>Posts</div>
            <div style="display: inline-block"> <div id="facebook_inviter_scanned" class="facebook_info">0</div>Scanned</div>
            <div style="display: inline-block"> <div id="facebook_inviter_invited" class="facebook_info">0</div>Invites</div>
        </div>
        <div style="margin: 2rem 0;"><img src="" id="facebook_loader"><span id="facebook_inviter_status">Starting...</span></div>
        
        <button id="facebook_inviter_stopButton" class="facebook-button">STOP</button>
    </div>

    <div id="facebook_inviter_product_key" style="display:none;">
        <input type="text" placeholder="Product Key" id="product_key">
        <button id="facebook_inviter_activate_product">Activate</button>
        <button id="facebook_inviter_activate_cancel">Cancel</button>
    </div>
    
</div>




